#deleteButton {
  cursor: pointer;
  color: grey;
}
#deleteButton:hover {
  cursor: pointer;
  color: black;
}

#addButton {
  cursor: pointer;
  color: grey;
}

#addButton:hover {
  cursor: pointer;
  color: black;
}
