#sidebar {
  position: absolute;
  left: 0;
  top: 10vh;
  width: 400px;
  height: 85vh;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  font-family: Roboto, Arial, sans-serif;
}
h3 {
  text-align: center;
}
