#loginDiv {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#registerDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registerSpan {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
